.cv-cointainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
.cv-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
  gap: 2rem;
}

.education,
.work,
.skills {
  background: #a5d9f3;
  box-shadow: 0 6px 18px rgb(58, 139, 161);
  padding: 2em;
  margin: 1em;
  border-radius: 15px;
  padding: 1.5em 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-height: 220px;
  text-align: center;
  flex: wrap;
}

.work h3,
.education h3,
.skills h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.education p,
.work p {
  background: rgb(209, 233, 244);
  box-shadow: 0 0 10px rgb(72, 115, 165);
  margin: 1em;
  border-radius: 15px;
  padding: 1em 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills p {
  background: rgb(209, 233, 244);
  box-shadow: 0 0 10px rgb(72, 115, 165);
  margin: 0rem;
  border-radius: 15px;
  padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  text-align: center;
  word-break: break-word;
}
@media (max-width: 700px) {
  .skills p {
    width: 100%;
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#skills p {
  text-align: center;
  width: 70%;
}
