.project-grid {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
}

html,
body {
  overflow-x: hidden;
}

.projects-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 1rem 3rem;
}

@media (max-width: 1000px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .project-grid {
    grid-template-columns: 1fr;
  }

  .botton,
  .botton-minimal {
    width: 100%;
    text-align: center;
  }
}

.project-card {
  background: #a5d9f3;
  padding: 2rem;
  border-radius: 18px;
  box-shadow: 0 6px 18px rgb(58, 139, 161);
  font-size: 0.8rem;
  min-width: 0;
  overflow-wrap: normal;
  word-break: normal;
}

.botton-section {
  display: flex;
  gap: 0.7rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.botton,
.botton-minimal {
  white-space: wrap;
}

.botton {
  padding: 0.6rem 1rem;
  border-radius: 1000px;
  background: white;
  text-decoration: none;
  white-space: nowrap;
  color: blue;
}

.botton-minimal {
  padding: 0.6rem 1rem;
  border-radius: 1000px;
  border: 2px solid white;
  color: blue;
  text-decoration: none;
  white-space: nowrap;
}

.modal {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 1000;

  display: none;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.modal:target {
  display: flex;
}

.modal-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
}

.modal-box {
  position: relative;
  z-index: 1;
  width: min(520px, 92vw);
  max-height: 80vh;
  background-color: rgb(237, 224, 234);
  padding: 3rem;
  border-radius: 18px;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 20px 60px;
}

@media (max-width: 700px) {
  .modal-box {
    top: auto;
    width: min(520px, 90vw);
  }
  ul .project-grid {
    position: static !important;
    left: auto !important;
    top: auto !important;
    height: auto !important;
    width: 100% !important;
    display: grid !important;
  }
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  justify-content: center;
  background-color: rgb(171, 122, 63);
  width: 32px;
  height: 32px;
  border-radius: 10px;
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
}

.title {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 3rem;
}

/* H2 prjekt */
.maintitle {
  font-size: 2rem;
  color: black;
}

main {
  width: 100%;
  margin: 0 auto;
  flex: 1;
  padding-top: 110px;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.project-img {
  width: 80%;
  aspect-ratio: 16/9;
  height: 50%;
  margin-top: 2rem;
  object-fit: cover;
  border-radius: 0;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.project-img:hover {
  cursor: pointer;
  transform: scale(3);
  -webkit-transform: scale(3);
  -moz-transform: scale(3);
  -ms-transform: scale(3);
  -o-transform: scale(3);
}
.botton-minimal:hover,
.botton:hover {
  color: black;
}
